@import "./process-home.styl"
@import "./process-subPage.styl"
@import "./process-graph.styl"
@import "./process-calendar.styl"
@import "./process-konwledge.styl"
@import "./process-reqestService.styl"
@import "./process-modify.styl"
@import "./process-survey.styl"
