#change-pass-ctn
  .rightBtn
    float right
  #association
    #menue-bar
      margin-bottom 15px
    #taskForm
      margin-bottom 25px
    .title
      float left;
      color title_3
      .title
        color: title_3
        i
          vertical-align middle
        span
          font-weight 600
          margin-left: 3px
    .saveGroupsRow
      margin-top 15px;
      text-align right
    .scrollMaxH
      max-height 556px
  .importChangePassCtn
    .underLine
      color link_text
      margin-top 10px
      cursor pointer
      &:hover
        text-decoration underline

/* 密码策略配置 */
#PwdPolicySet
  .titleTip
    color link_text

/* 添加改密任务 */
#association
  #associationTable
    .look-detail
      color link_text

/*账号管理首页*/
.account-box
  .linearline
    height:5px;
    position:absolute;
    bottom:0;
    width:100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #444F61 49.79%, rgba(255, 255, 255, 0) 101.22%);
    opacity:0.2
  .tab-box
    position relative
  .s-tabs-nav-wrap
    background-color #19232E
    .main-left
      .account-card
        .s-card-header
          border-bottom: 1px solid rgba(255, 255, 255, 0.05)
  .overdue-tab
    .account-item
      .item-row
        .account-item-name
          color: rgba(255,255,255,.65)
        .account-item-content
          color: rgba(255,255,255,.45)

/*授权策略*/
.auth-list
  .search-box
    background: rgba(255, 255, 255, 0.05)
    border: 1px solid rgba(255, 255, 255, 0.1)

/*树形表格*/
.s-tree-table
  .tabletree-color
    color: darkFontColor!important
