original_l3_black = #70caa9
original_l2_black = #7eebc7
original_l1_black = #32d19c
original_color = #32c292
original_l1_white = #2ca87f
original_l2_white = #2ca87f

yellow_l3_black  = #fccc0d
yellow_l2_black  = #f5d46e
yellow_l1_black  = #f7ac37
yellow_color     = #f5a70c
yellow_l1_white  = #d18204
yellow_l2_white  = #d18204

green_l3_black  = #c3f5d3
green_l2_black  = #98ecb2
green_l1_black  = #4fd18b
green_color     = #26cd5c
green_l1_white  = #04a851
green_l2_white  = #04a851

blue_l3_black  = #ebefff
blue_l2_black  = #c1ceff
blue_l1_black  = #4fd18b
blue_color     = #5d7ef7
blue_l1_white  = #4267ef
blue_l2_white  = #aab6bc

red_l3_black  = #fef0f0
red_l2_black  = #ffc3c2
red_l1_black  = #f87371
red_color    =  #fa5252
red_l1_white  = #d73936
red_l2_white  = #d73936

main_module = #5f6066
normalcy_module = #8c8c8c
normalcy_text_2 = #8c8c8c   // ***
gary_l1_black = #999999
gray_l2_black = #c7c7c7
gray_l3_black = #cccccc
border_color = #e0e0e0
block_bg = #ffffff
btnDefaultBackground = #0aba80

title_1 = #808080
title_2 = #ffffff
title_3 = #4d4d4d     // ***
normalcy_text = #4d4d4d
main_text = #5e6da6
gray_l1_text = #9c9796
gray_l2_text = #333333
gray_l3_text = #999999
link_text = #199FED
hover_text = #199FED

// 各页面自定义色值变量
active_button_bg = original_l2_white  // SQL模式审计选中背景颜色
hover_button_bd = #2e83d0  // SQL模式审计选中边框颜色（和hover颜色保持一致）
ctx_menu_bg = original_l1_black // SQL模式右键背景色
ctx_menu_hover_bg = original_l2_white // SQL模式右键hover背景色
ctx_menu_bd = original_l1_white // SQL模式右键边框
ctx_menu_hover_bd = #2e83d0 // SQL模式右键hover边框
error-my = #fa5555 // 自定义表单验证的文字提示
special_background = #ebebeb
btnColor = #199FED // 表格链接和表格按钮统一颜色

//拖拽样式
drag_bg1=rgba(10, 186, 128, 0.1);
drag_bg2=#0ABA80;
link_color = #199fed
theme_color_default = #0aba80;
theme_color_hover = #3bc899;
theme_color_click = #09a773;
theme_bgcolor1 = #fff;
theme_bgcolor2 = #F5F7FA;
theme_fontcolor45 = rgba(0,0,0,0.45); // 辅助
theme_fontcolor60 = rgba(0,0,0,0.60);
theme_fontcolor65 = rgba(0,0,0,0.65); // 正文
theme_fontcolor85 = rgba(0,0,0,0.85); // 标题
theme_fontColor25 = rgba(0,0,0,.25)  // 不可操作
theme_iconcolor = #0aba80
theme_iconcolor05 = rgba(10, 186, 128, 0.5)
border_bottom = rgba(0,0,0,0.05)
