.assetDistribution
  .s-carousel .s-carousel-item.is-active
    background-color: #fff
.diy-asset-distribute
  .s-carousel .s-carousel-item.is-active
    background-color: #fff
.ipamoverview{
  .panal {
    border:1px solid rgba(223,226,232,1);
  }
  .num {
    border-bottom: 1px solid rgba(223,226,232,1);
  }
}
.view-baseline
  .config-content
    .CodeMirror-scroll
      background #F5F7FA
      border 1px solid #DCDEE2
      color theme_fontcolor85
.compare-with-baseline
  .info
    .base-button
      background rgba(0,0,0,.45)!important
      color theme_fontcolor65!important
    .date
      color theme_fontcolor45
      font-size 12px
    .baseline-name
      color theme_fontcolor85
  #compare-file
    .hljs-title, .hljs-doctag, .hljs-type, .hljs-attr, .hljs-built_in, .hljs-builtin-name, .hljs-params, .hljs-literal, .hljs-symbol, .hljs-bullet, .hljs-meta, .hljs-number, .hljs-link, .hljs-keyword, .hljs-selector-tag, .hljs-section, .hljs-title, .hljs-name, .hljs-string, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-regexp, .hljs-keyword, .hljs-selector-tag, .hljs-section, .hljs-title, .hljs-name, .hljs-variable, .hljs-template-variable
      color theme_fontcolor85!important
    .d2h-file-side-diff
      .d2h-diff-tbody
        & > tr
          &:nth-child(odd)
            background-color #EDEDED!important
    .d2h-code-side-linenumber
      width 40px
      background-color #f8ede2!important
