.logCenter, logCenterMonitor
  .top-list
    text-align left
    .score-td
      color original_color !important
.logCenter, .logCenterBase, .logCenterDb, .logCenterMonitor, .logCenterOperation, .logCenterProcess
  .s-carousel
    .s-carousel-item.is-active
      background-color #000009

.logCenterBase
  .autoOperation, .autoScriptStatic
    background: #19232e
  .ys
    margin: 0 20px 0 10px
    background: #19232e
  .logCard
    .box-card
      background: none
  .s-card-diy-body
    height: 100%
  .autoScriptStatic .cardcol .cardview {
    padding: 10px;
    height: 100%;
    border-radius: 2px;
    background: hsla(0,0%,100%,.05);
  }
  .logCenter
    .accountBtns
      li
        background linear-gradient(-90.08deg, rgba(25, 35, 46, 0) -10.96%, #1F2C3A 46.66%, rgba(25, 35, 46, 0) 112.93%);
        &:hover
          background linear-gradient(-89.73deg, rgba(25, 35, 46, 0) 0.04%, theme_iconcolor 99.97%);
          i
            color: theme_iconcolor
        i
          background: #242E38
          border: 4px solid #242E38;
          border-radius: 50%;
      .logTabClass
        color rgba(255, 255, 255, 0.65)
      .active
        color #fff
        background linear-gradient(-89.73deg, rgba(25, 35, 46, 0) 0.04%, theme_iconcolor 99.97%);
        i
          color theme_iconcolor;
          background: #fff
          border: 4px solid #fff;
          border-radius: 50%;
.logLevelReport
  width: 98%
  .main-content
    .reportName
      padding-bottom: 5px;
      border-bottom: 1px solid #dcdee2;
      margin: 15px;
      font-size: 14px;
      font-weight: 600;
    .s-card
      border: 0px
.log_custom_command{
  .grid{
    display grid;
    border-top:1px solid #303943;
    grid-template-columns 20% 80%;
    .gridleft{
      border-left:1px solid #303943;
      border-right:1px solid #303943;
      border-bottom:1px solid #303943;
    }
    .gridright{
      border-right:1px solid #303943;
      border-bottom:1px solid #303943;
    }
  }
}
