// 配置中心 - 系统设置
#SystemSettingTab
    margin-left 40px
  .info-line
    font-size 14px
  .config-form
    margin-left 60px
    border-left 1px solid gary_l1_black
    padding-left 30px
    width 600px
    padding-top 10px
    .s-form
      padding-top 10px
    .s-input
      width 250px
    .blockTitle
      border-bottom 1px solid border_color
      width 600px
      height 35px
      .title
        width 80px
        text-align center
        font-size 13px
        font-weight 600
        border-bottom 3px solid main_text
        line-height 32px
// 配置中心 - 服务节点管理 - 节点详情
#ConfigCenter-nodeDetail
  .item-info
    border 1px solid border_color
    .item-name
      text-align left
      padding-left 10px
      font-size 14px
      line-height 25px
      border-right 1px solid border_color
      background-color block_bg
    .item-value
      text-align left
      padding-left 10px
      font-size 14px
      line-height 25px
