@import "reset.css";
@import "./iconfont/iconfont.css";
@import "common.css";
@import "component.css";
@import "login.css";

@media all {
  .noShow {
    display: none;
  }
}

@media print {
  .noPrint {
    display: none
  }
  .noShow {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    padding: 0 0 20px 0;
    border-bottom: dashed 1px #000;
    margin: 0 0 40px 0;
  }

  .print_field {
    display: block;
    box-sizing: border-box;
    background: #fff;
    width: 1000px;
    padding: 10px;
  }

  .print_field div, .print_field table, .print_field tbody, .print_field thead, .print_field tr, .print_field td, .print_field th {
    background: transparent !important;
  }

  .print_field .s-scrollbar-bar.is-horizontal, .print_field .s-scrollbar-bar.is-vertical {
    display: none !important;
  }

  .print_field .s-scrollbar-wrap, .print_field .s-scrollbar-view {
    position: static;
    width: 100%;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    overflow: hidden;
  }

  .print_field .s-table .s-tooltip.cell {
    white-space: pre-line !important;
  }

  .print_field .s-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 1px #000;
    font-size: 14px;
    color: #000;
  }

  .print_field .s-table-fit {
    border-bottom: 0;
  }

  .print_field .s-table:before, .print_field .s-table:after {
    content: '';
    display: none;
  }

  .print_field .s-table table {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .print_field .s-table thead, .print_field .s-table tbody {
    display: flex;
    flex-direction: column;
  }

  .print_field .s-table tr {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px 0;
  }

  .print_field .s-table tr th, .print_field .s-table tr td {
    height: auto;
    flex: 1;
    padding: 0 5px;
    word-break: keep-all;
  }

  .print_field .s-table tr th .cell, .print_field .s-table tr td .cell {
    box-sizing: border-box;
    width: 100% !important;
  }

  .print_field .s-table tr th.gutter, .print_field .s-table tr td.gutter {
    display: none;
  }

  .print_field .s-table .s-table-header, .print_field .s-table .s-table-body {
    width: 100%;
  }

  .print_field tr {
    page-break-after: always;
  }

  .sysScrollHeight.s-scrollbar-wrap {
    height: auto;
  }
  .print_field .s-table-empty-block{
    width: 100% !important;
    background: transparent !important;
    border-bottom: 1px solid #000;
  }

  #app .index-body main {
    overflow: visible !important;
  }

  /* 固定高度 */

  .print_field .s-table {
    max-height: none !important;
  }

  .print_field .s-table-body-wrapper {
    height: auto !important;
  }

  .print_field .s-table-body-wrapper .s-scrollbar {
    height: auto !important;
  }

  .print_field .s-table-body-wrapper .s-scrollbar-wrap {
    max-height: none !important;
  }
}

/*--------变更单详情打印样式--------*/
#modifyTaskPrint .printTitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px
}
#modifyTaskPrint .dataRow .title {
  padding-left: 30px
}
#modifyTaskPrint .dataRow .grid-content {
  min-height: 27px;
  line-height: 27px;
  font-size: 14px
}

@media print {
  #modifyTaskPrint {
    width: 85%;
    margin: 30px auto 0;
    background-color: #ffffff
  }
  #modifyTaskPrint .printTitle {
    color: #3c434b;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px
  }
  #modifyTaskPrint .dataRow {
    margin-bottom: 0;
    border-top: 1px solid #e6e6e6
  }
  #modifyTaskPrint .dataRow:last-of-type {
    border-bottom: 1px solid #e6e6e6 !important
  }
  #modifyTaskPrint .dataRow:nth-child(odd) .grid-content {
    background-color: #ffffff
  }
  #modifyTaskPrint .dataRow:nth-child(even) .grid-content {
    background-color: #f5f6fa
  }
  #modifyTaskPrint .dataRow .grid-content {
    color: #3c434b;
    min-height: 36px;
    line-height: 36px;
    word-wrap: break-word;
    word-break: break-all
  }
  #modifyTaskPrint .dataRow .title {
    padding-left: 40px;
    border-right: 1px solid #e6e6e6
  }
}
/*去掉时间控件的此刻按钮*/
.is-show-now .s-picker-panel-footer .s-button-text{
  display: none;
}
/*表格溢出显示内容显示不全*/
/* .s-tooltip-popper .s-scrollbar-wrap{
  max-height: none!important;
} */
/*分页样式修改*/
/* .s-pager {
  background-color: #fff!important;
} */

/*card前面的竖线*/
.card-line .card-title:before{
  content: "";
  display: inline-block;
  width: 3px;
  height: 14px;
  position: relative;
  top: 2px;
  margin-right: 8px;
}

.s-pager li {
  margin-right: 5px;
}
.s-pagination {
  margin-top: 8px!important;
}
.s-pagination .btn-prev {
  margin-right: 5px;
  font-size: 14px!important;
  text-align: center;
  height: 32px;
  width:32px;
}
.s-pagination .btn-prev i{
  font-size: 14px!important;
}
.s-pagination .btn-next {
  margin-right: 5px;
  text-align: center;
  height: 32px;
  width:32px;
}
.s-pagination button .disabled{
  background:#F3F3F3!important
}
input::-webkit-input-placeholder {
  color: #515c65;
}

input:-moz-placeholder {
  color: #515c65;
}

input::-moz-placeholder {
  color: #515c65;
}

input:-ms-input-placeholder {
  color: #515c65;
}
.real-search-input{
  float: right;
  width: 280px!important;
}
/*默认弹框scroll*/
.default-dialog-scroll{
  max-height: 400px;
  padding-right: 15px;
}
.ip-rule-box .s-form-item-error{
  margin-left: 205px;
}
.search_form .s-input{
  width: 185px;
}
.search_form .s-date-editor{
  width: 185px!important;
}
.custom-form .s-form-item-label{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.ql-snow .ql-picker{
  line-height: 24px
}
