.diy
  background #000009

.diy-left
  background #0b1624

.diy-left-menu
  color #5582a5

  &.is-active
    color #01b6ff
    text-shadow 0 0 20px #0083bb
.diy-right-a-card
  border 1px solid #344458

  .iconfont
    color #1675cb

  h3
    color #ffffff

  .desc
    color grey

.diy-drawer-left
  background-color rgba(228, 231, 237, 0.9)

  h3
    color gray
    border-bottom 1px solid gray

  .icon-out-column
    color #2E99C8

  span
    color #041729

.diy-right-b-close
  background-color #ff626d
  color white

.diy-drawer-bottom
  color white
  background #0b1624

.diy-unlock
  background-color #ff8441

  .iconfont
    color white

.diy-user-list
  .my-login-name
    color #fff

.diy-user-permission
  .my-sum
    color #fff
  .tag
    background transparent
    border: 1px solid #263346
  .tag-left
    background #59c5f8
  .tag-right
    color #9c9796

.diy-user-process-todo
  .my-num
    color #fff

.diy-user-ops-log
  .my-ip
    color #fff

.diy-user-ops-asset-item
  .my-name
    color #fff

.diy-asset-asset-monitor
  .my-score
    color #fff

  .my-label
    color #fff

.diy-asset-asset-monitor-item
  .grid-top
    color #fff

  .grid-bottom-l
    background rgba(216, 216, 216, .04)

  .grid-bottom-r
    color #fff

.diy-user-info
  background-image url('../../assets/images/diy/bg_black.png')

.diy-monitor-rank
  .s-card
    background-color #020c19!important
  .s-card-header
    background-color #020c19
  .s-card-body
    background-color #020c19

.diy-monitor-attention
  .foucs-assets-col
    height 60px
    border 1px solid borderColor
    margin 4px 0
    padding 0 6px
    margin-right 20px
    .titleWord
      font-size 14px
      color lightWordColor
      white-space nowrap
      overflow hidden
      .feature
        float: left
      .compName
        display block
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    .contentWord
      color darkWordColor


.diy-auto-ops
  #host-list
    ul
      li
        .s-row
          height 100%
          background-color #051d33
          .host-item
            height 100%
            .hostGroupName
              width 95%
              margin 0 auto 8px
              word-break break-all
          .s-row-flex
            height 100%
        .right-panel
          background rgba(4, 23, 41, 0.9)

    .host-icon
      font-size 3rem
      -webkit-text-fill-color transparent
      background -webkit-linear-gradient(left bottom, #1675cb , #00aeff)
      -webkit-background-clip text


.diy-ramd .text {
  font-size: 14px;
}
.diy-ramd .item {
  padding: 18px 0px;
}
.diy-ramd .clearfix:before,
.diy-ramd .clearfix:after {
  display: table;
  content: "";
}
.diy-ramd .clearfix:after {
  clear: both;
}
.diy-ramd .box-card {
  border-radius: 10px;
  /* background: #fff; */
  height: 150px;
}
.diy-ramd .table_card {
  height:605px;
  border-radius: 10px;
  /* background: #fff; */
}
.diy-ramd .right-card {
  border-radius: 10px;
  color: #fff;
  background: #041729;
  height: 310px;
}
.diy-ramd .box-card .team_Rectangle {
  height: 100%;
  width: 33%;
  background: #041729;
  border-radius: 10px;
  margin-left: -10px;
  float: left;
  position: relative;
}
.diy-ramd .box-card .team_Rectangle .team_icon {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.diy-ramd .box-card .team_Approval {
  height: 100%;
  width: 66%;
  float: left;
  position: relative;
  background: #19314C
}
.diy-ramd .box-card .team_Approval .team_me {
  width: 50%;
  height: 100%;
  float: left;
}
.diy-ramd .box-card .team_Approval .team_he {
  float: left;
  width: 50%;
  height: 100%;
}
.diy-ramd .right-card .team_li .team_box {
  width: 80px;
  margin: 20px;
  height: 80px;
  border-radius: 5px;
}
.diy-ramd .right-card .team_li {
  float: left;
  margin: 0px 26px;
  width: 80px;
  height: 130px;
  cursor: pointer;

}
.diy-ramd .table_card .table_id {
  font-weight: bold;
  font-size: 15px;
  margin: 20px;
  font-family: PingFang SC;
  color: #fff;
  opacity: 0.85;
}
.diy-ramd .notice_card .table_id {
  font-weight: bold;
  font-size: 15px;
  margin: 20px;
  font-family: PingFang SC;
  color: #fff;
  opacity: 0.85;
}
.diy-ramd .notice_card {
  height: 450px;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  background: #041729;
}
.diy-ramd .notice_card .circular {
  width: 14px;
  height: 14px;
  border: 1px solid #fda85c;
  border-radius: 50%;
  float: left;
}
.diy-ramd .notice_card .notice_time {
  float: left;
  font-family: PingFang SC;
  margin-left: 20px;
  font-size: 14px;
  line-height: 17px;
  /* color: #000000; */
  opacity: 0.45;
}
.diy-ramd .notice_card .notice_maintenance {
  float: right;
  width: 80px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  /* color: #000000; */
  opacity: 0.65;
  cursor: pointer;
}
.diy-ramd .notice_maintenance:hover {
  background: #fda85c;
}
.diy-ramd .notice_content {
  padding: 0px 0 0 30px;
  margin-left: 7px;
  height: 80px;
  border-left: 1px solid #e1e1e1;
}
.diy-ramd .notice_card .notice_content .notice_font {
  font-family: PingFang SC;
  font-size: 14px;
  margin-top: 5px;
  line-height: 20px;
  /* color: #000000; */
  opacity: 0.65;
}
