/*安全通报 style*/
.task-result
  .left-box
    background-color #19232e
    height 100%
    padding 10px 12px
    .is-active
      background-color #252e39
    .user-item
      &:hover
        background-color #252e39
  .right-box
    .right-item
      border-bottom  1px solid theme_fontcolor25
      .date
        color theme_fontcolor45
      .text
        color theme_fontcolor65

/*安全通报任务详情单 style*/
.taskWorker
  .details
    background rgba(0,0,0,.3)
    margin-top 20px
    .title
      color rgba(255,255,255,.65)

// 信息回执弹框

.mold
  padding: 3px;
  // background: #E6F7FF;
  border: 1px solid #91D5FF;
  box-sizing: border-box;
  border-radius: 2px;
  color: #2296FF;
.moldNo
    padding: 3px;
    // background: #FFF4EA;
    border: 1px solid #FFBF80;
    box-sizing: border-box;
    border-radius: 2px;
    color: #FF9023;

