.main-right
  .right-card
    .s-card-header
      background-color #fff
.time
  font-size: 14px
  font-weight: bold
.event-check-group
  height: 40px
  line-height: 40px
  .s-checkbox-group
    display: inline-block
    padding-left: 18px
    .urgency .s-checkbox-label
      color: rgba(255,60,45,0.8)
    .serious .s-checkbox-label
      color: rgba(241, 98, 43, 0.8)
    .warn .s-checkbox-label
      color: rgba(241, 197, 43, 0.85)
    .secondary .s-checkbox-label
      color: rgba(251, 106, 178, 0.9)
    .prompt .s-checkbox-label
      color: #9bcb62
    .normal .s-checkbox-label
      color: #16b69a
    .unknown .s-checkbox-label
      color: #7b7e89
    .s-checkbox
      margin-right: 10px

.alarmEventList
  .foucs-event-col
    height 45px
    &:last-child
      border-bottom none
    .titleWord
      & span
        font-size 12px
        color lightWordColor
        line-height 18px
      .error
        color redWordColor !important
    .foucs-event-icon
      padding-right 12px
      & i
        font-size 26px
        line-height 48px
        color original_color
        &.error
          color redWordColor !important
    .contentWord
      width 100%
      height 18px
      line-height 18px
      font-size 12px
      color darkWordColor
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      cursor default


.eventItem
  font-size: 12px
  color rgba(0,0,0,.65)
  margin-bottom: 0
  .summary
    .s-col:first-child > span
      font-size 12px
      line-height: 24px
    .feature
      /*float: right
      text-align: right*/
    .title
      display: inline-block
      max-width: calc(100% - 50px)
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .status
      position: relative
      display: inline-block
      padding: 5px
      line-height: 1 !important
      border-radius: 2px
      color: #ffffff !important
      &.urgency
        background: linear-gradient(261.81deg, #F83C30 -6.91%, #FD7D46 111.2%);
      &.serious
        background: linear-gradient(261.81deg, #F8306C -6.91%, #FF7092 111.2%);
      &.warn
        background: linear-gradient(261.81deg, #F89030 -6.91%, #FDD546 111.2%);
      &.secondary
        background: linear-gradient(261.81deg, #FB8032 -6.91%, #FD7D46 111.2%);
      &.prompt
        background: linear-gradient(261.81deg, #3698FF -6.91%, #60ACFC 111.2%);
      &.normal
        background: linear-gradient(261.81deg, #36B892 -6.91%, #68D380 111.2%);
      &.unknown
        background: linear-gradient(261.81deg, #AAB1C4 -6.91%, #D5DAE7 111.2%);
  .detail
    padding-top: 8px
  .btnCol
    text-align center
    transform translateY(50%)
    .s-button
      padding: 8px 12px

  &.default
    .summary
      color: normalcy_text
      line-height: 21px
      margin-bottom: 0px
      .ip-title
        color: theme_fontcolor85
      span
        color: title_2
      .feature
        float: right
        text-align: right
        position: relative
        top: 2px
    .text
      color: theme_fontcolor65
    .details
      color: theme_fontcolor45
      font-size 0
    .iconfont
      font-size 14px
    span
      font-size: 12px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      color: theme_fontColor_45
      padding-top:4px
    .btns
      background none
      text-align right
      transition all .1s
      .into-process
        color rgba(0,0,0,.65)
      .theme-hover-btn
        &:hover
          border 1px solid theme_iconcolor
          color theme_iconcolor
      .icon-ctn .iconfont
        color link_text
      .btnCol
        display inline-block
        margin-right 13px
        //border 1px solid border_color
        transition all .1s
        &:hover:not(.is-disabled)
          background-color rgba(hover_text,1)

.left-menu-box
  .s-menu-item
    .menu-dot
      background-color #657180
