.assetDistribution
  .s-carousel .s-carousel-item.is-active
    background-color: #020c19
.diy-asset-distribute
  .s-carousel .s-carousel-item.is-active
    background-color: #020c19

.ipamoverview{
  .panal {
    border:1px solid rgba(255,255,255,0.1);
  }
  .num {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}
.view-baseline
  .config-content
    .CodeMirror-scroll
      background #414D5F
      border 1px solid #414D5F
      color theme_fontcolor85
.compare-with-baseline
  .info
    .base-button
      background rgba(0,0,0,.3)
      color rgba(255,255,255,.65)!important
    .date
      color theme_fontcolor45
      font-size 12px
    .baseline-name
      color theme_fontcolor85
  #compare-file
    .d2h-info
      background-color #414D5F!important
    .d2h-ins, .d2h-del
      span, code
        color rgba(0,0,0,.85)!important
    .d2h-file-wrapper
      border none
    .d2h-info, .hljs-title, .hljs-doctag, .hljs-type, .hljs-attr, .hljs-built_in, .hljs-builtin-name, .hljs-params, .hljs-literal, .hljs-symbol, .hljs-bullet, .hljs-meta, .hljs-number, .hljs-link, .hljs-keyword, .hljs-selector-tag, .hljs-section, .hljs-title, .hljs-name, .hljs-string, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-regexp, .hljs-keyword, .hljs-selector-tag, .hljs-section, .hljs-title, .hljs-name, .hljs-variable, .hljs-template-variable
      color theme_fontcolor85!important
    .d2h-file-side-diff
      .d2h-diff-tbody
        & > tr
          &:nth-child(odd)
            background-color #414D5F!important
    .d2h-code-side-linenumber
      width 40px
      background-color #414D5F!important
      color theme_fontcolor85
    .hljs, .hljs-attribute, .hljs-subst
      color theme_fontcolor85!important
