//不同视角资产
.different-view-card
  padding 0
  .s-card-body
    margin-top 10px
.perspectives-row
  margin-top 10px
  display flex
  .left-content
    width 350px
    padding 0 10px
  .right-content
    flex 1
// 资产概览
#AssetsOverviewContent
  margin-bottom: 20px
  width 332px
  border 1px solid border_color
  border-top-left-radius 3px
  border-top-right-radius 3px
  .title
    height 71px
    width 332px
    text-align center
    line-height 70px
    font-size 20px
    color #ffffff
  .bg-purple
    padding 0px;
  .items
    margin-top 10px
    margin-bottom 10px
    .s-row
      margin 4px 10px
      height 25px
      .item-name
        text-align left
        padding-left 10px
        font-size 14px
        line-height 25px
        color gray_l1_text
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      .item-value
        text-align right
        padding-right 10px
        font-size 14px
        line-height 25px
// 综合得分
#SynthesisScoreContent
  width 332px
  border 1px solid border_color
  border-top-left-radius 3px
  border-top-right-radius 3px
  .score-main-title
    height 60px
    background-color #222f3e
    color:#bad6f0
    .text
      float left
      height 60px
      width 90px
      line-height 60px
      padding-left 30px
      font-size 14px
    .num
      float left
      height 60px
      width 90px
      line-height 60px
      color blue_color
      font-size 18px
    .clr
      clear both
  .score-content
    margin-top 10px
    .errorPingStatus
      .score-icon
        background-color red_l2_black !important
        i
         color red_color !important
      .score-status
        color red_color !important
    .score-item
      width 100px
      height 100px
      text-align center
      margin 0 auto
      .score-icon
        margin-top 10px
        margin-bottom 5px
        width 30px
        height 30px
        border-radius 50% 50%
        text-align center
        line-height 30px
        background-color gray_l2_black
        margin-left 35px
        i
          font-size 16px
          color title_3
      .score-status
        font-size 14px
        color gray_l2_text
        height 28px
        line-height 28px
        color title_3
        font-weight bold
      .score-title
        color gray_l1_text
        font-size 13px
//事件级别统计
#eventLevelChart
  .rightOpLink
    float right
    span
      font-weight normal
      font-size 12px
      cursor pointer
    .currentChart
      color link_text
#right-menu
  background-color: block_bg;
  border: solid 1px border_color;
  .menu-title
    border-bottom: solid 1px border_color;
    color title_3
  .icon-app
    background-color block_bg
    color title_3
  .activeMenu
    color: hover_text
#AssetLifeCycleTimeLine
  color main_text
