#auto-ops-collect-task
  .top-info
    margin 20px 0
    height 70px
    border 1px solid border_color
    li
      float: left
      width: 20%
      position:relative
      &>div
        height: 70px
      h5
        font-size: 24px
        line-height: 34px;
        color title_1
    li+li:after
      content: "";
      position: absolute;
      left: 0;
      top: 20px;
      height: 30px;
      border-left: 1px solid border_color;
    .iconfont
      font-size 24px
  .bottom-left-info,.bottom-right-info
      padding 10px
      li
        height 24px
        line-height 24px
        span
          padding-left 10px
  .bottom-right-info
      li a
        cursor: pointer
        color original_color
        padding-left 10px
#auto-ops-collect-menu
  .menu-title
    border-bottom: 3px solid original_color;
    display: inline-block;
  .menuList
    margin-top 5px
    li
      cursor: pointer
      height: 40px
      line-height: 40px
      font-size 15px
      border-left: 3px solid hsla(0,0%,90%, 0)
      margin-bottom 2px
    li:hover,.current
      background-color: gray_l4_black
      border-left: 3px solid original_color;
    .iconfont
      color original_color
      padding-left 15px
      padding-right 5px
      font-size 18px
