.diy
  background #f4f4f4
.diy-left
  background-color #494e6a

.diy-left-menu
  color #74849A

  &.is-active
    background-color #ff8441
    color #fff
.diy-right-a-card
  border 1px solid grey

  .iconfont
    color #ff8441

  h3
    color black

  .desc
    color grey

.diy-drawer-left
  background-color rgba(228, 231, 237, 0.9)

  h3
    color gray
    border-bottom 1px solid gray

  .icon-out-column
    color #2E99C8

.diy-right-b
  background-color rgb(246, 246, 246)

.diy-right-b-close
  background-color #ff626d
  color white

.diy-drawer-bottom
  color white
  background-color #ff8441

.diy-unlock
  background-color #ff8441

  .iconfont
    color white

.diy-user-list
  .my-login-name
    color #392c28

.diy-user-permission
  .my-sum
    color #392c28
  .tag
    background #FFF6EB
  .tag-left
    background linear-gradient(#FFC326, #FF916F)
  .tag-right
    color #392C28


.diy-user-process-todo
  .my-num
    color #392C28

.diy-user-ops-log
  .my-ip
    color #2B2B2B

.diy-user-ops-asset-item
  .my-name
    color #392C28

.diy-asset-asset-monitor
  .my-score
    color #161616

  .my-label
    color #392C28

.diy-asset-asset-monitor-item
  .grid-top
    color #353535

  .grid-bottom-l
    background rgba(216, 216, 216, .2)

  .grid-bottom-r
    color #392c28

.diy-user-info
  background-image url('../../assets/images/diy/bg.png')

.diy-monitor-attention
  .foucs-assets-col
    height 60px
    border 1px solid borderColor
    margin 4px 0
    padding 0 6px
    margin-right 20px
    .titleWord
      font-size 14px
      color lightWordColor
      white-space nowrap
      overflow hidden
      .feature
        float: left
      .compName
        display block
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    .contentWord
      color darkWordColor

.diy-auto-ops
  #host-list
    ul
      li
        .s-row
          height 100%
          background-color rgba(yellow_color, 0.2)
          border 1px solid #f1f1f1
          .host-item
            height 100%
            .hostGroupName
              width 95%
              margin 0 auto 8px
              word-break break-all
          .s-row-flex
            height 100%
        .right-panel
          background #fff

    .host-icon
      font-size 3rem
      -webkit-text-fill-color transparent
      background #ffba76
      -webkit-background-clip text
