original_l3_black = #ffe2c5
original_l2_black = #ffe2c5
original_l1_black = #ffd4a9
original_color = #ffa945
original_l1_white = #c07c39
original_l2_white = #c07c39

yellow_l3_black  = #fdf7eb
yellow_l2_black  = #fae7c4
yellow_l1_black  = #f5d08a
yellow_color     = #eeb13c
yellow_l1_white  = #a67c2a
yellow_l2_white  = #a67c2a

green_l3_black  = #e9faf2
green_l2_black  = #bdf0d7
green_l1_black  = #7de1b0
green_color     = #26cd7c
green_l1_white  = #1b8f57
green_l2_white  = #1b8f57

blue_l3_black  = #eff2fd
blue_l2_black  = #d0d8fa
blue_l1_black  = #a1b2fc
blue_color     = #627fed
blue_l1_white  = #4459a5
blue_l2_white  = #4459a5

red_l3_black  = #fef0f0
red_l2_black  = #fcd3d3
red_l1_black  = #f9a7a7
red_color    =  #f56c6c
red_l1_white  = #ab4b4b
red_l2_white  = #ab4b4b

main_module_start = #ff5f6d
main_module_end = #ffc371
normalcy_module = #dcdfe6
normalcy_text_2 = #dcdfe6   // ***
gary_l1_black = #c0c4cc
gray_l2_black = #f5f7fa
gray_l3_black = #cccccc
border_color = #e4e7ed
gray_l4_black = #e4e7ed
block_bg = #ffffff

title_1 = #9c9796
title_2 = #392c28
title_3 = #392c28   // ***
normalcy_text = #392c28
main_text = #ffa954
gray_l1_text = #9c9796
gray_l2_text = #9c9796
gray_l3_text = #c0c4cc
link_text = #199FED
hover_text = #199FED
btnDefaultBackground = #FF9023

//拖拽样式
drag_bg1=rgba(255,144,35,.1);
drag_bg2=#FF9023;

// 各页面自定义色值变量
active_button_bg = original_l2_white  // SQL模式审计选中背景颜色
hover_button_bd = #ffba76   // SQL模式审计选中边框颜色（和hover颜色保持一致）
ctx_menu_bg = original_l1_black // SQL模式右键背景色
ctx_menu_hover_bg = original_l2_white // SQL模式右键hover背景色
ctx_menu_bd = original_l1_white // SQL模式右键边框
ctx_menu_hover_bd = #2e83d0 // SQL模式右键hover边框
error-my = #fa5555 // 自定义表单验证的文字提示
btnColor = #199FED // 表格链接和表格按钮统一颜色
link_color = #199fed
theme_color_default = #ff9023;
theme_color_hover = #ffa64f;
theme_color_click = #e5821f;
theme_bgcolor1 = #fff;
theme_bgcolor2 = #F5F7FA;
theme_fontcolor45 = rgba(0,0,0,0.45);
theme_fontcolor60 = rgba(0,0,0,0.60);
theme_fontcolor65 = rgba(0,0,0,0.65);
theme_fontcolor85 = rgba(0,0,0,0.85);
theme_iconcolor = #ff9023
theme_iconcolor05 = rgba(255,144,35,.5)
border_bottom = #DCDEE2;
