.state-table
  height 183px
  width 300px
  // background-color block_bg
  position relative
  .btn
    background: #26384D;
    border: 1px solid #26384D;
    color #fff
  .state-info
    position absolute
    left 0px
    top 0px
    width 190px
    height 185px
    background url('../../../static/images/datadashboard/dark-dashboard-bg.png') 0px 1px no-repeat
    .state-i-top
      height 86px
      width 90px
      margin 0 auto
      border-bottom 1px solid border_color
      .state-icon
        float left
        padding-top 42px
        width 35px
        i
          font-size 30px
          color original_l2_white
      .state-i-detail
        float left
        width 55px
        color title_1
        font-size 12px
        padding-top 40px
        .state-i-title
          width 60px
          height 17px
          overflow hidden
          color: #FFFFFF;
          opacity: 0.85;
          text-overflow ellipsis
          white-space:nowrap
        .state-i-num
          font-size 16px
          color #ffffff
    .state-i-bottom
      height 86px
      width 100px
      margin 0 auto
      .state-data
        div
          float left
          color: #FFFFFF;
          opacity: 0.85;
          font-size 12px
          line-height 20px
        .state-d-icon
          width 6px
          height 10px
          margin-left 10px
          margin-top 5px
          margin-right 5px
        .state-d-normal
          background-color green_l1_black
        .state-d-warning
          background-color yellow_l1_black
        .state-d-outage
          background-color red_l1_black
        .state-d-num
          margin-left 5px
  .state-line
    position absolute
    left 100px
    top 1px
    height 180px
    width 220px
    background #19232E
    .state-item
      height 24px
      width 200px
      margin-bottom 2px
      text-align right
      background-position right
      color: #FFFFFF;
      opacity: 0.65;
      font-size 12px
      line-height 24px
      &:last-child
        margin-bottom 0px
      &:hover
        color hover_text
      .state-num
        margin-left 8px
        margin-right 8px
        cursor pointer
        &:hover
          color #FFFFFF
          text-decoration underline
      &.Dbcurrent
        color hover_text
  .clr
    clear both
  .state-i-tops
    height 86px
    width 90px
    margin 0 auto
    .statelag
      font-size 50px
    .state-icon
      float left
      padding-top 45px
      width 35px
    i
      font-size 30px
      color original_l2_white
    .state-i-details
      float left
      width 55px
      color title_1
      font-size 12px
      padding-top 71px
      .state-i-num
        font-size 16px
        color title_2
  /*六*/
  .state-6-item .state-item{
    height:24px;
    color: #FFFFFF;
    opacity: 0.45;
    line-height: 24px;
  }
  .state-6-item .state-item span{
    display: block;
    float: left;
    margin-left: 202px;
  }
  .state-6-item .state-item:nth-child(1){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-6-item .state-item:nth-child(2){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-6-item .state-item:nth-child(3){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-6-item .state-item:nth-child(4){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-6-item .state-item:nth-child(5){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-6-item .state-item:nth-child(6){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-6-item .state-item:nth-child(7){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-6-item .state-item:nth-child(1):hover,.state-6-item .state-item:nth-child(1).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
    color: #FFFFFF;
    opacity: 0.85;
  }
  .state-6-item .state-item:nth-child(2):hover,.state-6-item .state-item:nth-child(2).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-6-item .state-item:nth-child(3):hover,.state-6-item .state-item:nth-child(3).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-6-item .state-item:nth-child(4):hover,.state-6-item .state-item:nth-child(4).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-6-item .state-item:nth-child(5):hover,.state-6-item .state-item:nth-child(5).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-6-item .state-item:nth-child(6):hover,.state-6-item .state-item:nth-child(6).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-6-item .state-item:nth-child(7):hover,.state-6-item .state-item:nth-child(7).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  /*七*/
  .state-7-item .state-item{
    height:24px;
    color: #FFFFFF;
    opacity: 0.45;
    line-height: 24px;
  }
  .state-7-item .state-item span{
    display: block;
    float: left;
    margin-left: 202px;
  }
  .state-7-item .state-item:nth-child(1){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-7-item .state-item:nth-child(2){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-7-item .state-item:nth-child(3){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-7-item .state-item:nth-child(4){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-7-item .state-item:nth-child(5){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-7-item .state-item:nth-child(6){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-7-item .state-item:nth-child(7){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-7-item .state-item:nth-child(1):hover,.state-7-item .state-item:nth-child(1).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
    color: #FFFFFF;
    opacity: 0.85;
  }
  .state-7-item .state-item:nth-child(2):hover,.state-7-item .state-item:nth-child(2).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-7-item .state-item:nth-child(3):hover,.state-7-item .state-item:nth-child(3).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-7-item .state-item:nth-child(4):hover,.state-7-item .state-item:nth-child(4).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-7-item .state-item:nth-child(5):hover,.state-7-item .state-item:nth-child(5).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-7-item .state-item:nth-child(6):hover,.state-7-item .state-item:nth-child(6).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-7-item .state-item:nth-child(7):hover,.state-7-item .state-item:nth-child(7).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  /*八*/
  .state-8-item .state-item{
    height:21px;
    color: #FFFFFF;
    opacity: 0.45;
    line-height: 21px;
  }
  .state-8-item .state-item span{
    display: block;
    float: left;
    margin-left: 202px;
  }
  .state-8-item .state-item:nth-child(1){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(2){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(3){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(4){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(5){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(6){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(7){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(8){
    background: linear-gradient(90deg, #285773 8.94%, rgba(25, 35, 46, 0) 105.03%);
  }
  .state-8-item .state-item:nth-child(1):hover,.state-8-item .state-item:nth-child(1).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
    color: #FFFFFF;
    opacity: 0.85;
  }
  .state-8-item .state-item:nth-child(2):hover,.state-8-item .state-item:nth-child(2).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-8-item .state-item:nth-child(3):hover,.state-8-item .state-item:nth-child(3).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-8-item .state-item:nth-child(4):hover,.state-8-item .state-item:nth-child(4).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-8-item .state-item:nth-child(5):hover,.state-8-item .state-item:nth-child(5).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-8-item .state-item:nth-child(6):hover,.state-8-item .state-item:nth-child(6).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-8-item .state-item:nth-child(7):hover,.state-8-item .state-item:nth-child(7).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }
  .state-8-item .state-item:nth-child(8):hover,.state-8-item .state-item:nth-child(8).Dbcurrent{
    background: linear-gradient(90deg, #199FED 8.94%, rgba(25, 35, 46, 0) 105.03%);
        color: #FFFFFF;
    opacity: 0.85;
  }

