original_l3_black = #041729
original_l2_black = #092f51
original_l1_black = #0d467a
original_color = #1675cb
original_l1_white = #3c80ba
original_l2_white = #6da0cb

yellow_l3_black  = #332600
yellow_l2_black  = #664d00
yellow_l1_black  = #997301
yellow_color     = #ffc001
yellow_l1_white  = #ffcd34
yellow_l2_white  = #ffd967

green_l3_black  = #062a12
green_l2_black  = #0d5424
green_l1_black  = #137d36
green_color     = #20d15a
green_l1_white  = #4dda7b
green_l2_white  = #79e39c

blue_l3_black  = #002333
blue_l2_black  = #004666
blue_l1_black  = #006899
blue_color     = #00aeff
blue_l1_white  = #33beff
blue_l2_white  = #66ceff

red_l3_black  = #31030a
red_l2_black  = #620714
red_l1_black  = #930a1d
red_color    =  #f51131
red_l1_white  = #f7415a
red_l2_white  = #f97083

main_text = #ffffff
normalcy_text = #cdcdcd
gary_l1_black = #565b5d
border_color = #344458
gray_l2_black = #34383b
gray_l3_black = #1d1e21
block_bg = #19232e

title_1 = #bad6f0
title_2 = #ffffff
title_3 = rgba(255,255,255,0.85)
normalcy_text = #cdcdcd
gray_l1_text = #8494a3
gray_l2_text = #6f787d
gray_l3_text = #565b5d
link_text = #66ceff
hover_text = #b3e7ff
active_button_bg = original_color  // SQL模式审计选中颜色
hover_button_bd = #6da0cb  // SQL模式审计选中边框颜色（和hover颜色保持一致）
ctx_menu_bg = #1675cb // SQL模式右键背景色
ctx_menu_hover_bg = #0d467a // SQL模式右键hover背景色
ctx_menu_bd = #6da0cb // SQL模式右键边框
ctx_menu_hover_bd = #1675cb // SQL模式右键hover边框
error-my = #fa5555 // 自定义表单验证的文字提示
btnDefaultBackground = #1991c7

//拖拽样式
drag_bg1=rgba(253, 254, 255, 0.1);
drag_bg2=#1991C7;
link_color = #199fed
theme_color_default = #34383b;
theme_color_hover = #344458;
theme_color_click = #1d1e21;
theme_bgcolor1 = #19232E;
theme_bgcolor2 = #0A1015;
theme_fontcolor45 = rgba(255,255,255,0.45);
theme_fontcolor60 = rgba(255,255,255,0.60);
theme_fontcolor65 = rgba(255,255,255,0.65);
theme_fontcolor85 = rgba(255,255,255,0.85);
theme_bordercolor = rgba(255,255,255,0.05);
theme_iconcolor = #1991c7
border_bottom = rgba(255,255,255,0.05);
