.apply-special-table .s-form-item-content
  line-height: 20px;
.myAttention
  .attendedfull
    color red_l2_black !important
.reportconsole
  .main-content
    .reportName
      border-bottom: 1px solid blue_l1_black
#process-center
  .ProcessLeft
    background: #19232e;
    box-shadow: inset -1px 0 0 #26384d;
  a
    color link_text
    text-decoration none
    &:hover
      color hover_text
  .s-textarea-inner
    padding 5px
  .work-order-wrapper
    .s-carousel
      overflow hidden
    .is-active
      border none
      box-shadow none
  .s-table tbody .cell .iconfont
    margin-right 2px
  .s-card-body
    height 80%
  .order-num-list
    & td, th
      &:nth-child(2)
        width 145px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
      &:nth-child(3)
        min-width 60px
  .rank-top
    & td, th
      &:nth-child(2)
        width 60px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
    .changetest
      background: #051224
      border-left: 4px solid border_color
    .titletest
      color: link_text
      &:hover
         color: hover_text
    .timetest
      color: darkWordColor
  .section-header
    background: #000E20
    .s-col
      color: title_1
      text-align:center
      &:hover
        color: title_2
     .dealwork
       color: title_1
       font-weight: bold
       border-bottom-left-radius:5px
       border-bottom-right-radius:5px
       background: rgba(blue_l2_white,0.3)
    .speedsearch
      color: link_text
      &:hover
        color: hover_text
#process-center
  .work-order-wrapper
    .s-carousel
      overflow hidden
    .is-active
      background: #19232e;
      box-shadow: none
      border none
  .s-table tbody .cell .iconfont
    margin-right 2px
  .s-card-body
    height 80%
  .rank-top
    & td, th
      &:nth-child(2)
        width 60px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
.DealWorkBox
  background: #242E38;
  .dealWorkContainer
    width 97%
    margin 3px auto 0
    //border-top: 3px solid #20A7F8
    border-radius 4px
    .title
      padding-top 12px
      .process-border-left

      .titleRadiusBg
        padding 3px 5px
        border-radius 2px
      .titleInfo
        line-height 30px
        color #fff
        opacity 0.85
      .titleInfo:hover
        color rgba(255,255,255,.65)
      .attended
        color #fff
        opacity 0.3
        margin-left 8px
      .type
        padding: 5px 8px;
        /* border-radius: 0 0 4px 4px; */
        display: inline-block;
        font-size: 12px;
        color: #D8F7EA;
        margin-left: -8px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      .problemOrderColor /*问题工单*/
        background-color: #FC8069;
      //box-shadow: 0 0 2px #062D1A, 0 0 1px #7FE495 inset;
      //box-shadow: 0 0 1px #7FE495 inset;
      .knowledgeOrderColor /*知识工单*/
        background-color: #36D4EB;
      //box-shadow: 0 0 2px #2E2C2F, 0 0 1px #AC9ABD inset;
      //box-shadow: 0 0 1px #AC9ABD inset;
      .publishOrderColor /*发布工单*/
        background-color: #A89FEC;
      .taskOrderColor /*任务工单*/
        background-color: #8FD870;
      .requestServiceOrderColor /*服务请求*/
        background-color: #80BDFD;
      .eventOrderColor /*事件工单*/
        background-color: #44B8FC;
      //box-shadow: 0 0 2px #480C0C, 0 0 1px #E47F7F inset;
      //box-shadow:  0 0 1px #E47F7F inset;
      .changeOrderColor /*变更工单*/
        background-color: #FFBB57;
    //box-shadow: 0 0 2px #211e03, 0 0 1px #FC8O69 inset;
    //box-shadow:  0 0 1px #f3f5a2 inset;
      // 安全通报类型颜色
      .secretColor
        background-color: #FC8069; //涉密通告
      .conferenceColor
        background-color: #44B8FC; //会议通知
      .securityColor
        background-color: #FFBB57; //安全事件
      .examinationColor
        background-color: #8FD870; //春秋自查
      .materialsColor
        background-color: #A89FEC; //季度分析-材料汇总
      .meetingColor
        background-color: #44B8FC; //季度分析-会议通知
      .summarizeColor
        background-color: #80BDFD; //季度分析-总结传达
      .heavyColor
        background-color: #36D4EB; //重宝工作
      .dayWorkColor
        background-color: #FF9C65; //日常通报
      .customColor
        background-color: #44B8FC; //自定义
      .gradeColor
        background-color: #44B8FC; //等保工作-简化版
      .practiceColor
        background-color: #5BC49F; //等保工作-最佳实践
    .deil
      padding 0 15px
      & span
        font-size 14px
        line-height 20px
        color color rgba(255,255,255,.65)
      .status
        display inline-block
        width 99%
        font-weight bold
        font-size 12px
      //.green
      //  color #15B757
      .summary
        display inline-block
        width 99%
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        vertical-align top
        min-height 20px
        font-size 12px
    .info
      padding 0 15px
      color darkWordColor
      display flex
      align-items: flex-start
      justify-content: space-between
      & p
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
      & span
        flex 1
        font-size 12px
        color rgba(255,255,255,.45)
        line-height 22px
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
      & i
        position relative
        top -2px
    .btns
      border-left: 1px solid #2F3842;
      background none
      padding 3px 15px 0 27%
      padding-bottom 2px
      .s-badge + .s-badge
        margin-left 25px
      .badgeCol
        width 44%
        margin 0 auto
      .badgeCol.center
        display block
        margin 0 auto
        width 100%
    .btnCol
      display block
      width: 44px;
      height: 44px;
      margin-right: 4%;
      margin-bottom: 31%;
      border-radius: 50%;
      color: #A9ADB1;
      background: #242E38
      border: 1px solid #4D555E;
      &:hover
        color: #1991C7
        border: 1px solid #1991C7;
      &:active
        color: #fff
        border: 1px solid #1991C7;
        background: #1991C7
      &:last-child
        margin-right 0
        i
          font-size 18px
          opacity 0.65
    .is-disabled
      background: rgba(255, 255, 255, 0.05)
      border: 1px solid rgba(255, 255, 255, 0.05)
      color: rgba(255, 255, 255, 0.25);
      cursor: not-allowed;
      opacity: 1;
      &:hover
        background: rgba(255, 255, 255, 0.05)
        border: 1px solid rgba(255, 255, 255, 0.05)
        color: rgba(255, 255, 255, 0.25);
