.satisfaction-survey-history
  .img
    color original_color
  .paper-title
    color #fff

.satisfaction-survey-history-header
  border-bottom 1px solid #1d1e21
  h2
    color #fff

.satisfaction-survey-log-header
  border-bottom 1px solid #1d1e21
  .more
    color original_color
  h2
    color #fff

.satisfaction-library-left-header
  border-bottom 1px solid #1d1e21

.satisfaction-library-right
  &>h2
    border-bottom 1px solid #1d1e21

.satisfaction-question-modify
  border 1px solid #1d1e21

.satisfaction-question
  .multichoice
    color original_color

.satisfaction-question-modify-header
  background #041729
  .iconfont
    color original_color

.satisfaction-question-modify-body
  .answer-item
    &:hover
      border 1px dashed original_color
    .action
      color original_color

.satisfaction-survey-config
  .ssc-card
    background rgba(3, 13, 24, 0.5)
    border 1px solid #1d1e21
    border-radius 4px
  .ssc-card-header
    background #041729

.satisfaction-survey-submit
  background #000009
  color #fff
  .s-progress-bar-inner
    background #00396d
  header
    background #00396d
