.box
  text-align left
  .exportBt
    margin-left 5px
  .noActive
    opacity 0.5
  .toggleIcon
    text-align right
    font-size 0
    .s-button:nth-child(1)
      border-top-right-radius 0
      border-bottom-right-radius 0
    .s-button:nth-child(2)
      border-top-left-radius 0
      border-bottom-left-radius 0
    .s-button:nth-child(3)
      margin-left: 10px
  .topoGraph
    height 750px
  .handler-btns
    margin-bottom 12px
.org-graph-container
  .org-cell
    height 104px
    width 120px
    &:hover
      .org-cell-title
        color #1991C7
  .org-cell-icon
    height 85px
    width 85px
    background-repeat no-repeat
    background-size 100%
    margin 0 auto
  .org-cell-title
    height 19px
    width 120px
    color title_1
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  .org-cell-current
    .org-cell-title
      color #1991C7
  .org_info
    height 155px
    width 100%
    margin-bottom 2px
    .org_icon
      text-align center
      margin-top 32px
    i
      font-size 55px
      line-height 55px
      color theme_iconcolor
    .org_name
      color theme_fontcolor85
      text-align left
      height auto
      max-height 38px
      font-size 16px
      line-height 20px
      margin-top 24px
      margin-bottom 10px
      overflow hidden
    .org_info_item
      height auto
      min-height 16px
      max-height 48px
      line-height 20px
      color theme_fontcolor65
      text-align left
      font-size 14px
      margin-bottom 6px
      overflow hidden
  .user-table
    width 100%
  .underLine
    text-decoration underline
    cursor pointer
  .left-panel
    .user-list
      .s-col
        padding 5px
        line-height 18px
        font-weight bold
        font-size 12px
        background-color original_l3_black
        color darkWordColor
    .user-list-item
      color main_text
      font-size 12px
      background rgba(3, 13, 24, 0.502)
      &:nth-of-type(odd)
        background rgba(4, 23, 41, 0.502)
      &:hover
        box-shadow: 0 0 50px 0 rgba(22, 117, 203, 0.5) inset;
    .scrollheight
      .s-col
        line-height 28px
        padding 3px 8px
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
  .orgDetail
    width 180px
    text-align left
    height 100px
  .org_name
    font-size 15px
    color original_l1_white
    font-weight 600
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    height: 18px;
  .org_info_item
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color main_text
    span
      display inline-block
      width 85px
      line-height 25px
      color darkWordColor
  .welcome
    font-size 18px
    font-weight 600
    line-height 45px
    position absolute
    z-index 100
    color title_1
    left 5px

.org_graph-cell_tips
  width 142px
  min-height 69px
  position absolute
  background #222D39
  border-radius 2px
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  padding 11px
  .user-pic
    position absolute
    left 10px
    top 13px
    background url("../../../static/images/system/UserPhoto.png")
    background-size 100%
    width 18px
    height 18px
    border-radius 50%
  .s-row
    margin-top 5px
    margin-bottom 0px
    .c-title
      height 17px
      font-size 12px
      line-height 17px
      color #8b99a2
      text-align right
    .c-item
      height 17px
      font-size 12px
      line-height 17px
      color #a8b3ba
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      width 90px
