#AutoOps
  #auto-main
    h2
      font-size 16px
      padding 4px 0 0 10px
      color #8494a3
    .auto-main-item
      border-radius: 5px
      background-color: rgba(4,23,41, 0.5)
      margin: 10px 0px;
      height: calc(100vh - 375px);
    .auto-main-center
      margin: 10px;
    #host-list
      ul
        height 100%
        li
          height 24%
          text-align center
          margin 6px 10px 0 10px
          .s-row
            height 100%
            background-color: #051d33
            .host-item,.s-row-flex
              height 100%
          .right-panel
              background-color: rgba(4, 23, 41, 0.9)
      .host-icon
        font-size 3rem
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(left bottom, #1675cb , #00aeff);
        -webkit-background-clip: text;
  #myAttentionHost
    height: 180px
    .card-enter
      padding-right:15px
    .word-item
      margin:9px 0
      height: 130px
      background-color: rgba(4, 23, 41, 0.9)
    .add-item
      height: 148px
      text-align: center
    .pic-item
      height: 130px
      position: relative
      background-color: rgba(127,200,242, 0.2)
      img
        position:absolute
        top:50%
        left:50%
        margin-left:-24px
        margin-top: -24px
    .greenWord, .redWord, .yellowWord
      font-size 14px
    .greenWord
      color green_color
    .redWord
      color red_color
    .yellowWord
      color yellow_color
  .script-log-item
    padding: 11px 0
    height: 48px
    .log-item
      margin-bottom: 0
      & > span
        font-size: 14px
      .client
        color title_2
        font-size 12px
        padding 2px 5px
        background rgba(green_color,0.4)
        border-radius 2px

/*自定义首页皮肤样式*/
#my-attention-hosts
  .focusHostItem
    .word-item
      .pic-item
        background-color: rgba(127,200,242, 0.2)

#diy-auto-ops
  #host-list
    ul
      height 400px
      li
        text-align center
        margin 6px 10px 0 10px
        .s-row
          background-color: #051d33
          .host-item,.s-row-flex
            height 92px
        .right-panel
          background-color: rgba(4, 23, 41, 0.9)
    .host-list-more
      color link_text

#diy-script-log
  .script-log-item
    .log-item
      .client
        color title_2
        background rgba(green_color,0.4)


.autoOpsfix
  background: theme_bgcolor2;
  width 100%;
  min-height unset
  margin 0 auto
  font-size 14px
  .card-line
    background theme_bgcolor1;
    // box-shadow: inset -1px 0 0 #26384d;
    .clearfix
      padding:0 20px;
      border-bottom 1px solid theme_bordercolor;
      font-family: PingFang SC;
      .card-title
        font-size:14px;
        opacity 0.85;
/* 右侧按钮 */
.autoOpsfix .contentOpacity
  margin:20px 20px 10px 10px;
/* 自动化运维模块 */
.autoOpsfix .autoOperation
  box-shadow: inset -1px 0px 0px #26384D;
  .cardcol
    height:100%;
    .cardview
      padding:10px;
      height:100%;
      // border: 1px solid theme_bordercolor;
      border-radius: 2px;
      background: theme_bordercolor
      .s-card-diy-title
        font-weight unset
        color theme_fontcolor85
      .s-card-diy-header
        border-bottom: unset !important;
  .autoall
    display: flex;
    flex-direction: column;
    justify-content: center;
    .autotype
      text-align center;
      width:120px;
      margin-bottom:20px;
      .autonum
        font-family: PingFang SC;
        font-size: 20px;
        color:theme_fontcolor85;
        line-height: 28px;
      .autotask
        font-family: PingFang SC;
        font-size: 14px;
        color:theme_fontcolor45;
        line-height: 20px;
  .autofivediv
    padding: 10px 15px 20px;
    display:flex;
    .autoeverydiv
      background: theme_bordercolor
      padding: 10px 15px;
      box-sizing: border-box;
      text-align:cneter;
      flex:1;
      margin:0 5px;
      height:120px;
      // border: 1px solid theme_bordercolor;
      border-radius: 2px;
      .every1
        height:50px;
        line-height: 50px;
      .every1_title
        color:theme_fontcolor85;
      .every1_num
        flex:0.5;
        font-size:20px;
        color:theme_fontcolor85;
        font-weight:bold;
        cursor:pointer;
        span:hover
          color:#199fed
      .every1_num2
        font-size: 16px;
        color:theme_fontcolor65;
        cursor:pointer;
        span:hover
          color:#199fed
      .every1_num3
        font-size: 12px;
        color:theme_fontcolor45;
        cursor:pointer;
        span:hover
          color:#199fed
      .imgposition
        color: #1991C7
        position: relative;
        top: 1px;
      .imgposition2
        position: relative;
        top: 0.5px;
        margin-right:4px;
/* 近30天脚本执行状况统计 */
.autoOpsfix .autoScriptStatic
  box-shadow: inset -1px 0px 0px #26384D;
/* 近期脚本日志模块 */
.autoOpsfix .autolog
  padding-right: 8px;
  .card-line
    background unset;
    .s-card-header
      background:theme_bgcolor1;
  .autologcontent
    display: flex;
    height: 60px;
    justify-content: flex-start;
    padding: 5px 0;
    line-height: 30px;
    .autolog_left img
      position: relative;
      top: 3px;
    .autolog_right
      padding-left: 10px;
      padding-right: 10px;
      width: calc(100% - 50px);
      .autolog_righttop
        display: flex;
        justify-content: space-between;
        width: 100%
        .autolog_righttext1
          font-family: PingFang SC;
          font-size: 14px;
          color: theme_fontcolor65
        .autolog_righttext2
          font-family: PingFang SC;
          font-size: 12px;
          color: theme_fontcolor45
      .autolog_rightbottom
        font-family: PingFang SC;
        font-size: 12px;
        color: theme_fontcolor65
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
