.autoOps_script
  .scan
    color: link_text
  .clearfix
    .card-title
      .iconfont
        color: #fff
  .leftBtn
    margin: 10px 10px 10px 0
  .Scrollheight
    height: calc(100vh - 166px)
  .autoOps_script_card_title
    border-bottom: 3px solid link_text;
    display: inline-block;
  .s-tree-top
    color: link_text;
    font-size: 14px;
    vertical-align: middle;
    margin: 0px 3px 0 8px;
  .custom-tree-node
    .iconfont
      color: link_text
    span
      &:hover
        color: link_text
  .is-current
    .treeNodeLabel
      color: theme_iconcolor !important
  .s-card
    border none

  .rowScriptStatus
    padding 3px 8px
    width 50px
    height 20px
    line-height 20px
    font-size 14px
    color main_text
    text-align center
  .cellClick // 表格元素可点击样式
    color original_color
    cursor pointer
  .sigleLine // 单行文本溢出处理
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  .greenbg
    background-color green_color
  .redbg
    background-color red_color
  .yellowbg
    background-color yellow_color
  .greenColor
    background-color green_color
  .redColor
    background-color red_color
  .yellowColor
    background-color yellow_color
  .disabledIcon
  // color lightWordColor !important
    display none
#scriptUpload
  .Scrollheight
    height halc(100vh - 260px)
#scriptCard
  .scriptCard-scroll
    max-height calc(100vh - 230px)
  .cardWarp
    margin-bottom 10px
    padding 10px
    background #242E38
    font-size 12px
    .scriptName
      font-size 16px
      display: inline-block;
      width: 80%;
    .editBtn
      color link_text
      float right
      display inline-block;
      height 21px;
      line-height 21px;
      cursor pointer
    .deleteBtn
      color red_l2_black
      cursor pointer
    .cardFooter
      color: #fff;
      opacity: 0.55;
      margin-top 20px

  .active
    border: 1px solid #1675cb;
#scriptExecute
  .exeDetail
    .icon-cabinet
      font-size 32px
      color theme_iconcolor
.scriptExecute
  .s-table
    .s-row
      padding 10px 0
  .scriptParamsInput
    width 100%
    .s-form-item-content
      width 86%
  .executeScriptBtn
    text-align right
    padding 2px 13px 0 0
  .subContent
    font-size 12px
    color lightWordColor
.shareExecute
  .dialogFilename
    padding 5px 0
    height 20px
    line-height 20px
    font-size 13px
#scriptControl
  .Scrollheight
    height halc(100vh - 260px)
  .scriptParamsForm1
    width 100%
    .s-form-item-content
      width 70%
      .s-select
        width 100%
  .scriptParamsForm2
    width 100%
    .s-form-item-content
      width 90%
  .scriptName
    height 23px
