#modifyConflict
  .rank-top
    & td, th
      &:nth-child(2)
        width 60px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
    .changetest
      background: #EDEEF2
      border-left: 4px solid border_color
    .titletest
      color: link_text
      &:hover
        color: hover_text
    .timetest
      color: darkWordColor
