.Process_knowledge
  width: 98%;
  .is-current
    .treeContentLabel
      color: link_text !important
  .s-tabs
    margin: 10px 0
  .main-content
    .s-card
      border: 0px
    .reportTop
      padding-bottom: 10px
      margin: 20px 0
#createKnow
  .scrollMaxheight
    height: 500px

#knowledgeVisible
  .s-form-item-content
    line-height 30px
  .showGroup
    width 400px
    height auto
    margin-top 10px
    li
      padding 0 5px
      .icon-error-bold
        display none
      span:first-child
        color original_color
      span:nth-child(2)
        display inline-block
        padding-left 15px
      span:last-child
        color original_color
        float right
      &:hover
        cursor pointer
        background original_color
        span
          color #fff !important
        .icon-error-bold
          display inline
          color red_color
        .icon-correct-bold
          display none
