.satisfaction-survey-history
  .img
    color original_color

.satisfaction-survey-history-header
  border-bottom 1px solid #ccc

.satisfaction-survey-log-header
  border-bottom 1px solid #ccc
  .more
    color original_color

.satisfaction-library-left-header
  border-bottom 1px solid #ccc

.satisfaction-library-right
  &>h2
    border-bottom 1px solid #ccc

.satisfaction-question-modify
  border 1px solid #ededed

.satisfaction-question
  .multichoice
    color original_color

.satisfaction-question-modify-header
  background #ededed
  .iconfont
    color original_color

.satisfaction-question-modify-body
  .answer-item
    &:hover
      border 1px dashed original_color
    .action
      color original_color

.satisfaction-survey-config
  .ssc-card
    background #f3f5f8
  .ssc-card-header
    background #dee1e9

.satisfaction-survey-submit
  .s-progress-bar-inner
    background linear-gradient(to right, #ff5f6d, #ffc371)
  header
    background linear-gradient(to right, #ff5f6d, #ffc371)
