.grade-chart-box
  border: 1px solid #dcdee2;
  border-radius: 2px;
  margin-bottom: 20px;
  height: calc((100vh - 60px) / 2.5);
.chart-box-header
  overflow: hidden
  padding: 10px 20px 15px;
  .grade-title
    color: rgba(0, 0, 0, 0.65)
#process-center .processTit {
  height: 40px;
  line-height: 40px;
  font-weight: 600;
}
.Bulletin
    .left_safe
        width: 175px;
        height: 300px;
        background: #F5F7FA;
        border-radius: 2px;
        margin-top 20px;
        text-align left
        .title
            width: 175px;
            height: 41px;
            text-align: center;
            line-height: 41px;
            font-size: 14px;
            color: rgba(0,0,0,.85);
        .left_header
            width: 100%;
            height: 40px;
            text-align: center;
            background: linear-gradient(104.71deg, theme_color_hover 3.04%, theme_iconcolor 95.54%);
            border-radius: 2px;
            line-height 40px
            color #fff
        .left_btn
            border: 1px solid theme_color_default;
            box-sizing: border-box;
            border-radius: 22px;
            width: 82px;
            line-height 32px
            height: 32px;
            margin 6px auto
            text-align center
            color theme_color_default
            cursor pointer
        .left_btn_yes
            border: 1px solid theme_color_default;
            background theme_color_default
            box-sizing: border-box;
            border-radius: 22px;
            width: 54px;
            line-height 32px
            text-align center
            height: 32px;
            margin 6px auto
            color #ffffff
            cursor pointer
        .left_content
            cursor pointer
            .left_icon
                line-height 24px
                background: #FFFFFF;
                width 24px
                height 24px
                border-radius 50%
                color theme_color_default
            .left_iconText
              padding 8px 0px 8px 30px
              background: #F5F7FA;
              color #000
              border 0
              i
                color theme_color_default
            .iconText1:hover
                color theme_color_default
            .iconText2:hover
                color theme_color_default
            .iconText3:hover
                color theme_color_default
            .iconText4:hover
                color theme_color_default
            .power
              color #ccc;
            .power:hover
              color #ccc;
    .details
        margin-top 10px
        background: #F5F7FA;
        .title
            color rgba(0, 0, 0, 0.45);
