body
  div
    &.mxPopupMenu
      background-image none
      background-color #F3F6F7
      box-shadow none
      position absolute
      border 1px solid border_color
  table
    &.mxPopupMenu
      border-collapse collapse
      margin 0px
  tr
    &.mxPopupMenuItem
      color original_l3_black
      cursor default
      height 25px
      line-height 25px
    &.mxPopupMenuItemHover
      background-color #DADFE3
      color #092848
      height 25px
      line-height 25px
  td
    &.mxPopupMenuIcon
      background none
      padding 0px
      padding-left 10px
      img
        height 14px
        width 14px
    &.mxPopupMenuItem
      padding-right 0px
