.processDetail
  #requestServiceRight
    .netForm
      border 1px solid border_color
      margin: 15px 0 20px 0
      .s-form-item-label
        padding 0px
  .detailTab
    color #fff

/**
 * 服务请求控制台
 * src/pages/Process_ServiceRequest/Console.vue
 */
#console
  #go-to-designer
    color original_color
    &:hover
      color original_color

/**
 * 浏览请求条目
 * src/pages/Process_ServiceRequest/ConsoleTabs/ViewServiceRequest.vue
 */
#viewServiceRequest
  .serviceRequestLists
    li:nth-of-type(1)
      color title_1
    & .image-asset
      &:hover
        .request-name
          color theme_iconcolor

/**
 * 服务请求控制台-我提交的申请
 * src/pages/Process_ServiceRequest/ConsoleTabs/MyApplication.vue
 */
#c-myApplication
  .jump-link
    color link_text
  .s-table .s-table-body .s-table-row
    .iconfont.disabled
      color gray_l3_text

/**
 * 服务请求控制台-我关注的列表
 * src/pages/Process_ServiceRequest/ConsoleTabs/MyAttention.vue
 */
#c-myAttention .jump-link
  color link_text

/**
 * 服务请求设计器
 * src/pages/Process_ServiceRequest/Designer.vue
 */
#designer
  .title-bar
    background #323B48
    .producer
      color gray_l1_text
      .icon-help
        color theme_iconcolor
  ul.designer-menu
    li
      color gray_l1_text
    li.activeMenu
      color original_color
      border-left 3px solid original_color
      background block_bg
  .right-content-ctn
    background #19232E
    border-radius: 2px;
    box-shadow 0 1px 10px rgba(0, 0, 0, 0.2)

/**
 * 服务请求设计器-步骤一
 * src\pages\Process_ServiceRequest\DesignerSteps\Step1.vue
 */
#serviceCatalog
  .s-tree > .s-tree-node
    > .s-tree-node-content
      border-bottom 1px solid border_color
      background block_bg
    .s-tree-node-content
      .custom-tree-node
        .showChecked,.notShowChecked
          .icon-correct-bold
            color original_color
        .online-offline
          &.online
            background-color green_color
          &.offline
            background-color red_color
        .tree-tool-bar
          .not-delete
            color gray_l3_text

/**
 * 服务请求设计器-步骤二
 * src/pages/Process_ServiceRequest/DesignerSteps/Step2.vue
 */
#setProperty
  .icon-show
    border 1px solid border_color
  .icon-row
    .icon-col .current
      background #242E38
      border 0 solid #000
      border-radius: 50%
    .icon-col .icon-ctn .iconfont
      color: #ffffff
      opacity: 0.25
    .icon-col .icon-ctn
      &:hover
        background #242E38
        border 0 solid #000
        border-radius: 50%
        .iconfont
          color: #1991C7;
          opacity: 1
    .icon-col .current .iconfont
      color: #1991C7;
      opacity: 1
  .s-form
    .custom-prepend.is-error
      .s-input-group-prepend
        .s-input-group_prepend
          border 1px solid error-my !important
          border-right 1px solid border_color !important
          .s-select .s-input-suffix .s-input-inner
            border-right none !important

/**
 * 服务请求设计器-步骤五
 * src/pages/Process_ServiceRequest/DesignerSteps/Step5.vue
 */
#accessAuth
  .showGroup
    li
      background block_bg
      .tool-bar .iconfont
        color original_color

/**
 * 服务请求设计器-步骤六
 * src/pages/Process_ServiceRequest/DesignerSteps/Step6.vue
 */
#approvalMap
  .showGroup
    li
      background block_bg
      .tool-bar .iconfont
        color original_color

/**
 * 服务请求设计器-步骤三-拖拽组件
 * src/pages/Process_ServiceRequest/dragForm/DragForm.vue
 */
#drag-form
  #drag-area
    .drag-item
      color title_2
      background #1991c7
  #drop-area
    border 1px dotted border_color
    .tip
      color gray_l3_black
    .iconfont
      color #1991c7

/**
 * 服务请求设计器-步骤三-拖拽组件-定义下拉菜单弹框
 * src/pages/Process_ServiceRequest/DesignerDialog/DefFormList.vue
 */
#def-form-list
  #optionAddLists
    .optionAddList
      background block_bg
    .tool-bar
      .iconfont
        color original_color
